body {
  padding: 2% 5%;
}

.logo {
  max-width: 35%;
}

.cityName {
  margin: 20px 0;
  font-weight: 900;
}

.reviewForm,
.searchBar {
  margin: 20px;
}

.nameForm {
  text-align: right;
}
h3,
h4 {
  display: inline-block;
}
.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}
.comments {
  padding: 2%;
}
.commentEdit {
  float: right;
}
.reviewForm {
  background-color: lightgray;
  padding: 2%;
  border-radius: 5px;
}
